.swiper__container{
    /* place-content: center; */
    align-items: center;
    margin:30px auto;
    /* padding:20px; */
}
.testimony__container{
    /* max-width: 100vw; */
    padding: 10px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--background-color);
    font-family: 300;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0,0,0, 0.2);
}

.testimony__card{
    background-color: transparent;
    padding:20px;
}

.testimonial{
    color: var(--text-color);
    font-family: Mulish;
    /* width: 500px; */
    font-size: 1rem;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}

.left i {
    font-size: 2rem;
    position: absolute;
    color: var(--primary-color);
    left: 5%;
    /* margin-left: 40px; */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.2;
}

.testimony__userDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimony__image{
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(248, 248, 253);
    background-color: white;
    padding: 5px;
}

.testimony__image img{
    background-size: contain;
    height: 100%;
    border-radius: 50%;
    width: 100%;
}

.testimony__user_position{
    margin: 10px;
}

.testimony__user_position p{
    padding: 5px 0
}

.testimony__position{
    color: var(--primary-color);
    font-family: Poppins;
    font-size: .8rem;
    font-weight: 400;
}

.testimony__name{
    font-size: 1.2rem;
    color: var(--accent-color);
}

@media(min-width:400px){
    .testimonial{
        max-width: 400px;
        font-size: 1.1rem;
    }
}

@media(min-width:600px){
    .left i {
        font-size: 2.5rem;
        left: 7%;
        opacity: 0.3;
    }
    
    .testimony__container{
        margin: 10px;
        padding: 20px;
    }
    
    .testimony__image{
        width: 70px;
        height: 70px;
    }
    
    .testimonial{
        max-width: 600px;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 20px;
    }

    .swiper__container{
        width: 100%;
        padding:0px;
    }
    .testimony__user_position p{
        padding: 10px 0
    }
    .testimony__card{
        padding:30px;
    }
    
}   

@media(min-width:900px){
    .left i {
        font-size: 3rem;
        left: 10%;
        opacity: 0.4;
    }
    
    .testimony__container{
        margin: 40px 60px;
    }
    
    .testimonial{
        width: 500px;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 20px;
    }
    
}

@media(min-width:1200px){
    .left i {
        font-size: 3rem;
        left: 20%;
        opacity: 0.5;
    }
    
}
