
.phone-container{
    background-color:white;
    box-shadow:2px 3px 5px rgba(0,0,0,0.5);
    border-radius:8px;
    max-width: 300px;
    padding:10px 20px;
    height: max-content;
    max-height: 200px;
    margin-top:5%
    
}

.top-container{
    display:flex;
    justify-content:flex-end;
    width:100%;
}

.top-container i{
    font-size: 1.4rem;
    color:var(--color-header);
    transition: .3 linear;
}

.top-container i:hover{
    transform: rotate(90deg);
    color: var(--primary-color);
}

.bottom-container{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 5px 10px;
}

.mobile-contact{
    display:grid;
    /* flex-direction:row; */
    /* justify-content:space-between; */
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    margin: 5px 0;
    padding: 0;
}

.phone-call{
    display:flex;
    justify-content: center;
    align-items:center;
    color: var(--text-color);
    padding:5px 20px;
    border-radius: 5px;
}

.phone-call:hover{
    background-color: var(--highlight-color);
    color:white;
}

.phone-call:hover .icon{
    color:white;
}

.phone-call:hover .phone-btn{
    color: white;
}

.phone-btn{
    background-color:transparent;
    border:0;
    outline:none;
    padding:10px;
    color: var(--text-color);
    cursor: pointer;
}


.icon{
    font-size:18px;
    font-weight:600;
    color: var(--text-color)
}

.phone-number{
    font-size:1.8rem;
    color:var(--text-color-2);
    font-weight:600;
    font-family:var(--font-title);
    cursor: pointer;
    margin-top: 20px;
}

.phone-number-container{
    position: relative;
}

.phone-number-container .copy{
    display:none;
    position:absolute;
    top:0;
    right:0;
    height: 20px;
    width: 20px;
}

.copy i{
    color: var(--text-color-2)
}

.phone-number-container:hover .copy{
    display: block;
}

