.header{
    background-color:var(--main-color);
    padding: 0 5px;
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
}

.header_wrapper{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0px 20px;
    background-color:transparent;
}

.header_menu{
    width: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px
}

.header_menu_bars{
    width: 100%;
    display: grid;
    gap:5px;
    grid-template-rows: 1fr 1fr 1fr;
    cursor: pointer;
}

.header_menu_bars span{
    height: 3px;
    background-color:rgb(166, 166, 166);
}

.header_menu_icon i{
    width: 40px;
}

.header_doubledot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_doubledot_logo{
    width: 50px;
    height: 50px;
    background-image: url(../../images/logo.png);
    padding:2px;
}

.header_idea{
    display:none;
    width:100%;
}

.header_icons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.header_idea h2{
    border: 2px solid var(--highlight-color);
    color: var(--primary-color);
    font-size: 1rem;
    padding: 10px 20px; 
    font-weight: 400;
    font-family: var(--font-title);
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    max-width: 400px;
}

.header_icons i{
    font-size: 1rem;
    color:var(--primary-color);
    padding: 10px;
    cursor: pointer;
}

@media(min-width:600px){
    .header_wrapper{
        margin: 0px 20px;
        padding:10px 0;
    }
    
    .header_idea{
        display: flex;
        justify-content: flex-end;
        width:100%;
    }

    .header_idea h2{
        border: 2px solid var(--highlight-color);
        color: var(--primary-color);
        font-size: 1.1rem;
        padding: 10px 20px; 
        font-weight: 500;
        font-family: var(--font-title);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        max-width: max-content;
    }

    .header_idea h2:hover{
        background-color: var(--primary-color);
        color:var(--background-color);
        box-shadow: 2px 2px 7px gray;
    }
    .header{
        padding: 0 20px;
    }
    .header_icons{
        display: none;
    }
}

@media(min-width:900px){
    .header_wrapper{
        margin: 0px 40px;
        padding:20px 0;
    }
    .header_idea h2{
        font-size: 1.4rem;
        padding: 10px 40px; 
    }
}



/* 2. LAYOUT MENU STYLING  */
/* ======================= */

