/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@300;400;500;700&display=swap'); */ 

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;700&display=swap&family=Lato:wght@300;400&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --font-content:"Work Sans";
    --font-title:"Lato";
    --font-header:"Roboto";
    --font-size:16px;
    --background-color:#fbfbfb;
    /* --background-color-2:#f1f0f0; */
    --background-color-2: #d0e3f6;
    --section-background-color:#f1f0f0;
    --primary-color:#ea7822;
    --main-color:#14284b;
    /* --main-color:#1a315a; */
    --title-color:#353e4c;
    --text-color-2:#434d5d;
    --text-color:#828282;
    --footer-text-color:#f1f0f0;
    --footer-text-p:#d1e8fd;
    --section-background-color:#eff4f7;
    --highlight-color:#00cfb1;
    --highlight-color:#ea7822;
    --footer-title-color: #eff4f7;
    --panel-color:#455571;
    --primary-color-contrast-rgb: 255, 255, 255;
    --k: #14284b
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-content);
}

body h1, h2, h3, h4{
    font-family: var(--font-content);
}

body p{
    font-family: var(--font-content);
}

.container{
    margin:0 10%;
}

.wrapper-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.btn{
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 20px;
    color:var(--background-color-2);
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    outline: none;
    border: 0;
    font-size: .8rem;
    font-weight: 300;
    cursor: pointer;
}

.title{
    font-family: var(--font-title);
    text-align: left;
    color:var(--text-color-2);
    font-weight: 600;
    width: 100%;
    font-size: 1.6rem;
    padding:10px 0;
}

.description{
    margin:10px 0px;
    color:var(--text-color-2)
}

.link{
    color:white;
    text-decoration: none;
}


