@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@300;400;500;700&display=swap');

:root{
    --font-content:"Work Sans";
    --font-title:"Roboto";
    --font-size:16px;
    --background-color:#fbfbfb;
    /* --primary-color:#e04734; */
    --primary-color:#ea7822;
    --color-header:gray;
    --main-color:#344258;
    --title-color:#353e4c;
    --text-color-2:#434d5d;
    --text-color:#828282;
    --footer-text-color:#97a8c2;
    --section-background-color:#eff4f7;
    --highlight-color:#00cfb1;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-content);
}

body h1, h2, h3, h4{
    font-family: var(--font-title);
}

body p{
    font-family: var(--font-content);
}

.container{
    margin:0 10%;
}

.wrapper-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.btn{
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    outline: none;
    border: 0;
    font-size: 1rem;
    font-weight: 500;
}


