
.idea-page-container{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width:100%;
}

.idea-page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
    gap:10px;
}

.idea-page-wrapper .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0 30px;
    height: max-content;
}

.idea-page-wrapper .radio{
    color: var(--primary-color);
    padding:10px;
}

.idea-page-wrapper .icon{
    width:70px;
    margin-top:10px;
}

.idea-page-wrapper .icon img{
    object-fit: cover;
    width: 100%;
}

.idea-page-wrapper .title{
    width: 100%;
    text-align: center;
    padding:0;
    font-size: 1rem;
    padding:5px
}

.idea-page-wrapper .title h2{
    padding:0;
    margin:0;
}

.idea-page-container .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea-page-container .option-prompt{
    width:100%;
    background-color: var(--primary-color);
    color:white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px
}

.btn{
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    outline: none;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (min-width:600px){
    .idea-page-container{
        padding: 20px;
    }
    .idea-page-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

    .idea-page-wrapper .btn{
        margin-top:20px;
    }

    .idea-page-wrapper .card{
        width: max-content;
        padding:0 30px;
        margin: 0px;
    }
    
}

@media(min-width:900px){
    .idea-page-container{
        overflow: hidden;  
        padding: 0 20px;
    }
    .idea-page-wrapper .card{
        padding: 0 40px;
        margin: 0px 0px;
    }
    
}