
form{
    margin:0 auto;
    height: max-content;
}

.form-container{
    margin: 0 10px;
    min-width: 300px;
}

.form-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.form-input-textarea{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
}

.form-input-textarea textarea{
    padding: 7px;
    font-family: var(--font-content);
}

.form-input-wrapper label{
    color:var((--header-color));
    margin: 10px 5px;
    font-family: var(--font-title);
}

.form-input{
    margin: 10px 0;
}

.form-input input{
    border: 2px solid gainsboro;
    border-radius: 10px;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
   
}
.form-input input:focus{
    border:2px solid var(--primary-color)
}

.form-input-wrapper .form-textarea{
    border: 1px solid gray;
    color:var(--header-color);
    font-family: var(--font-content);
    width: 100%;
    /* padding: 20px; */
    border-radius: 8px;
    margin-top:10px;
    font-size: 1.2rem;
}

.form-btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.form-btn-holder .btn{
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    outline: none;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input-confirmation{
    margin:0 auto;
}

.form-input-confirmation .form-check{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 9fr;
    place-content: center;
    margin: 20px 0;
}

.form-input-confirmation .form-check input{
    width: 20px; height:20px;
}
.form-input-confirmation .form-check p{
    margin-left:10px;
    color: var(--header-color);
    font-size:.9rem;
}


@media (max-width:500px){
    form{
        margin:20px;
    }

    .form-input-container{
        grid-template-columns: 1fr;
        align-items: center;
        gap: 0px;
    }

    .form-input label{
        margin: 5px 5px;
        font-size: .9rem;
    }


    .form-textarea{
        width: 100%;
        resize:both;
        border-radius: 8px;
        margin-top:10px;
    }
    

}

@media(min-width:600px){
    
}