
form{
    margin:0 auto;
    height: fit-content;
    max-height: max-content;
    overflow-anchor: 0;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    max-height: 450px;
    overflow-y: scroll;
}

.form-container{
    margin: 0 auto;
}

.form-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin: 0 20px;
}

.form-input-wrapper label{
    color:var((--header-color));
    margin: 10px 5px;
    font-family: var(--font-title);
}

.form-input{
    margin: 10px 0;
}

.form-input input{
    padding:7px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    width: 95%;
    margin: 5px 0;
    padding: 10px 5px
   
}
.form-input input:focus{
    border:2px solid var(--primary-color)
}

.form-input-wrapper.textarea{
    margin:0 20px;
}
.form-input-wrapper .form-textarea{
    border: 1px solid gray;
    color:var(--header-color);
    font-family: var(--font-content);
    width: 93%;
    padding: 20px;
    border-radius: 8px;
    margin-top:10px;
    font-size: 1.2rem;
}

.form-btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.form-btn-holder .btn{
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    outline: none;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input-wrapper.confirmation{
    margin:0 auto;
}

.form-input-wrapper.confirmation .form-check{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20 40px;
}

.form-input-wrapper.confirmation .form-check p{
    margin-left:20px;
    color: var(--header-color);
    font-size:.9rem;
}

@media (max-width:500px){
    form{
        margin:20px;
    }

    .form-input-container{
        grid-template-columns: 1fr;
        align-items: center;
        gap: 0px;
        margin: 10px;
    }

    .form-input label{
        margin: 5px 5px;
        font-size: .9rem;
    }

    .form-input-wrapper.textarea{
        width: 90%;
        margin:0 10px;
    }

    .form-textarea{
        width: 100%;
        resize:both;
        border-radius: 8px;
        margin-top:10px;
    }
    
    .form-input-wrapper.confirmation .form-check{
        margin: 20px;
    }
    .form-input-wrapper.confirmation .form-check p{
        margin-left:5px;
    } 
}

@media(min-width:600px){
    .form-input-wrapper.confirmation .form-check{
        margin: 20px 10px;
    }
    
}