.blog_wrapper{
    margin:0 auto;
    background-color: blueviolet;
}

.blog_header{
    width: 100%;
    background-color: var(--main-color);
    padding: 10%;
}

.blog_header .blog_title{
    font-size: 4rem;
    font-family: var(--font-content);
    font-weight: 600;
    color:white;
    margin: 20px 0;
}

.blog_header h3{
    font-weight: 400;
    color:var(--footer-text-p)
}

.blog_header .blog_number{
    font-size: 1rem;
    color:var(--footer-text-p);
    border-left: 4px solid var(--primary-color);
    padding: 5px 20px;
    margin: 0 10px
}

.blog_header .blog_number span{
    color:var(--font-title-p);
    margin-right:10px;
}

.blog_articles{
    display: grid;
    place-content: center;
    padding:20px;
}

.article_container{
    background-color:red;
    padding:20px;
    border-radius: 12px;
    border: 1px solid rgb(220, 234, 246)
}

.article_img{
    width: 100%;
}

.article_img img{
    width:100%;
    object-fit: contain;
}

.article_btn button{
    padding: 20px;
    color: rgb(4, 157, 4);
    font-size:1.2rem;
}
@media(min-width:900px){

    .article_img{
        height: 364px;
        width: auto;
        border-radius: 8px;
    }

    .blog_header{
        padding: 10% 40px;
    }
    
    .blog_articles{
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
        margin: 40px 40%;
    }
    
}