.contact_container{
    background-color:  #f1f0f0;
}
.contact_form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0 auto;
 }
 
 .contact_form{
     /* max-width: 800px; */
     /* width: 100%; */
     margin: 10px auto;
     /* height: max-content; */
     display: grid;
     place-content: center;
     overflow-y: hidden;
     
 }
 .contact_form_input_wrapper{
     display: grid;
     place-content: center;
     gap:10px;
     width:100%;
     margin:10px 0;
     /* margin:0 20px; */
 }
 .contact_form_input{
     padding: 15px;
     color: var(--text-color);
     background-color: white;
     font-family: var(--font-content);
     border: 1px solid rgb(178, 177, 177);
     border-radius: 5px;
     width:350px;
     font-style: 1.2rem;
 }
 
 
 .contact_form_input:focus{
     outline: none;
 }
 
 .subscribe__wrapper button{
     background-color: var(--accent-color);
     border: 2px solid var(--accent-color);
     color: #fff;
     font-size: 1rem;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px
 }
 
 .contact_form_textarea textarea{
     width: 100%;
     /* padding:10px; */
     font-size: 1rem;
 }
 
 @media(min-width:900px){
     .contact_form_input_wrapper, .contact_form_textarea{
         grid-template-columns: repeat(2, 1fr);
         width: 100%;
         margin:10px 20px;
         gap:0px;
 
     }
     .contact_form_input.left{
         border-bottom-left-radius: 10px;
         border-top-left-radius: 10px;
         border-bottom-right-radius: 00px;
         border-top-right-radius: 00px;
     }
     
     .contact_form_input.right{
         border-bottom-right-radius: 10px;
         border-top-right-radius: 10px;
         border-bottom-left-radius: 0px;
         border-top-left-radius: 0px;
     }
     .contact_form{
         margin:20px 5%;
     }
     .contact_form_textarea{
         grid-template-columns: repeat(1, 1fr);
     }
 
     .contact_form_textarea textarea{
         width: 97%;
         /* padding:10px; */
     }
 }
 
 